# Core Dependencies
dash
dash-bootstrap-components
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
email-validator
nltk
networkx
openpyxl
pandas
plotly
scikit-learn
selenium
setuptools
wordcloud
beautifulsoup4
requests

# Testing and Development Tools
flake8
pytest
pytest-cov